body {
    font-family: Arial, sans-serif;
}

.header-buttons {
    text-align: right;
}

#langSelect {
    padding: 0 0 0 20px;
    width: 100px;
}

#themeSelect {
    margin: 0 5px;
    padding: 0;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.export {
    text-align: right;
}

th,
td {
    text-align: center;
}

.task-name {
    width: 40%;
}

td input[type="text"],
td input[type="number"] {
    margin-bottom: 0;
}

td input[type="number"] {
    width: 110px;
}

input {
    text-align: left;
}

.remove-task {
    margin: 0 5px;
    padding: 0;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#resultBlock {
    visibility: hidden;
}

#probabilities li {
    list-style-type: none;
}
